<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario EMAIL</title>
</head>

<body>
  <h1>Formulario EMAIL</h1>

  <form action="/form" method="post">
    <label for="to">Para:</label>
    <input type="email" name="to">
    <br>
    <label for="subject">Asunto:</label>
    <input type="text" name="subject">
    <br>
    <label for="text">Texto:</label>
    <textarea name="text" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">Enviar</button>
  </form>
</body>

</html>